<input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">

<hr>
<div class="d-flex">
  <button class="btn btn-danger"  type="button"  data-toggle="modal" data-target="#exampleModal">Add Record</button>||
  <button class="btn btn-info">Reset View</button>||
  <button class="btn btn-secondary">Back</button>
</div> 
<hr>

<table class="table table-striped ">
    <thead class="bg-info">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year Published</th>
        <th scope="col">No. of pages</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of POST | search: searchText |paginate:{
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
        
      };let i=index">
      
        <td>{{post.userId}}</td>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td></td>
        <td></td>
        <td>
          <div class="button-group">
          <button class="btn btn-success " >View</button>
          <button class="btn btn-primary ">Edit</button>
          <button class="btn btn-danger ">Delete</button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls 
    previousLabel="prev" 
    nextLabel="Next" 
    (pageChange)="onTableChange($event)">    
    </pagination-controls>
  </div>
 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Books Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="1">Title</label>
            <input type="text" class="form-control" id="1">
          
          </div>
          <div class="form-group">
            <label for="2">Author:</label>
            <input type="text" class="form-control" id="2" >
          </div>
          <div class="form-group">
            <label for="3">Year Published:</label>
            <input type="text" class="form-control" id="3" >
          </div>
          <div class="form-group">
            <label for="4">No. of pages:</label>
            <input type="text" class="form-control" id="4" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Add</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>